# PROJECT = PROJECT_ID = id of the project
# SERVICE_ACCOUNT = email of the service account to use
PROJECT=tes2-424405
PROJECT_ID=tes2-424405
SERVICE_ACCOUNT=849875435298-compute@developer.gserviceaccount.com